beautifulsoup4==4.13.4
click==8.1.8
html5lib==1.1
httpx==0.28.1
lxml==5.3.2
pandas==2.2.3
pyquery==2.0.1
requests==2.32.3
scrapy==2.12.0
torch==2.1.0
GPUtil==1.4.0
packaging==24.0
accelerate==0.30.1
deepspeed==0.14.2
transformers==4.41.0
diffusers==0.27.2
sentencepiece==0.2.0
timm==1.0.3
flax==0.7.2
tqdm==4.67.1
tensorboard==2.14.0
tensorboardX==2.6.2.2
opencv-python==4.9.0.80
imgaug==0.4.0
psutil
numpy
IPython
scikit-learn
easydict
scipy
selenium
webdriver-manager
autocrop